---
import Intro from "../Intro.astro";
import Experience from "../Experience.astro";
import Projects from "../Projects.astro";
import Skills from "../Skills.astro";
---

<main class="flex flex-col min-h-screen">
  <div class="container col-xxl-8 px-4 py-5">
    <Intro />
  </div>
  <div class="">
    <Experience />
  </div>
  <div class="container col-xxl-8 px-4 py-5">
    <Projects />
  </div>
  <div class="container col-xxl-8 px-4 py-5">
    <Skills />
  </div>
</main>
