---
import Layout from "../Layouts/layout.astro";
---

<Layout title="Porfolio de Eudald" description="">
  <main class="flex flex-col min-h-screen"
  >
    <div class=" bg-eudald-mountain bg-no-repeat bg-cover bg-center sm:bg-right ">
      <div class="flex flex-col justify-end max-w-2xl mt-20 sm:mx-2 lg:ml-10 p-4 bg-gray-700 bg-opacity-60">
        <h1 class="text-center my-5">Sobre mi</h1>
        <p>
          Em dic Eudald Daví Solà, més conegut com Eudi o Euda. Sóc un jove
          programador de 20 anys amb una passió incessant per l'aprenentatge i
          un fort compromís amb el creixement personal i professional. La meva
          curiositat innata m'impulsa a buscar noves oportunitats per
          evolucionar en l'àmbit laboral, així com a contribuir amb les meves
          capacitats i coneixements en tot el que pugui ajudar.
        </p>
        <br />
        <p>
          Tot i que porto pocs anys en el món de la programació, he adquirit una
          base sòlida i una gran passió per seguir creixent en aquest camp. Em
          motiva la capacitat de la tecnologia per transformar i millorar la
          nostra vida diària, i aspiro a contribuir activament a aquests
          avenços. Estic compromès amb l'aprenentatge constant i disposat a
          afrontar nous reptes per continuar simplificant i fent més gratificant
          la vida quotidiana a través de la informàtica.
        </p>
        <br />
        <p class="mb-10">
          Considero que el benestar físic i mental és essencial, i l'esport és
          una via efectiva per aconseguir aquests objectius. No només promou la
          salut física, sinó que també contribueix al benestar mental.
          Personalment, trobo plaer en practicar qualsevol esports i gaudir de
          la natura, com ara caminar per la muntanya, ja que crec que reforça
          tant la ment com el cos.
        </p>
      </div>
    </div>
  </main>
</Layout>
