---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="experience" class="flex md:ml-48 p-4 flex-col">
  <h2>{t('experience.title')}</h2>
  <div class="mt-7 grid grid-cols-2">
    <div class="flex flex-row">
      <div class="w-1 h-auto bg-green-700 mr-6"/>
      <div>
        <h3>{t('experience.practices')}</h3>
        <h4>ISKRA</h4>
        <h5>{t('experience.date')}</h5>
      </div>
    </div>
    <div>
      <p class="mb-3">
        {t('experience.description')}
      </p>
      <a class="flex justify-center text-green-600 hover:text-green-300" href="https://deltebredansa.com/">{t('experience.web-page')}</a>
    </div>
  </div>
</section>
