---

---

<section id="experience" class="flex md:ml-48 p-4 flex-col">
  <h2>Experiència Laboral</h2>
  <div class="mt-7 grid grid-cols-2">
    <div class="flex flex-row">
      <div class="w-1 h-auto bg-green-700 mr-6"/>
      <div>
        <h3>Pràctiques 383h</h3>
        <h4>ISKRA</h4>
        <h5>Desembre 2023 - Maig 2024</h5>
      </div>
    </div>
    <div>
      <p class="mb-3">
        Maquetació d'una pàgina web responsive utilitzant Next.js i Sass. ÚS de rutes per connectar l'aplicació a l'API del framework Guillotina, que gestionava la base de dades. A més, creació de components com formularis i taules amb Python per interactuar amb aquesta base de dades. Finalment, testeig del backend amb Python i el frontend utilitzant Cypress.
      </p>
      <a class="flex justify-center text-green-600 hover:text-green-300" href="https://deltebredansa.com/">Pàgina Deltebre Dansa</a>
    </div>
  </div>
</section>
