---
import ThemeToggle from "./ThemeToggle.astro";
import HeaderMobile from "./HeaderMobile.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';
import LangPicker from "./LangPicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="fixed top-0 z-10 w-full mx-auto mt-2"
>
  <div class="flex items-center justify-center">
    <nav class="hidden sm:flex px-3 flex-row gap-x-10 rounded-xl m-4 w-auto">
      <a href="/#experience">{t('nav.experience')}</a>
      <a href="/#projects">{t('nav.projects')}</a>
      <a href="/#skills">{t('nav.skills')}</a>
      <a href={getRelativeLocaleUrl(lang,'about')}>{t('nav.about')}</a>
      <a href={getRelativeLocaleUrl(lang,'contact')}>{t('nav.contact')}</a>
      <ThemeToggle />
      <LangPicker/>
    </nav>
  </div>

  <div class="flex justify-end items-end p-4 sm:hidden">
    <HeaderMobile />
  </div>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-green-200/50 ring-white/10;
    }
  }
</style>
