<main class="flex justify-between my-10 mt-28 bg-eudald-intro bg-cover bg-center sm:bg-none">
  <div class="sm:bg-transparent bg-green-950 bg-opacity-50">
    <h1 class="text-center bg-contain mt-4">Que tal, sóc l'Eudald</h1>
    <div class="flex flex-col items-center">
      <p class="m-4 w-6/12 text-lg">
        <span class="text-green-600 font-bold">Técnic Superior en Desenvolupament d'Aplicacions Multiplataforma</span> de
        Barcelona, Espanya. Format en tecnologies tant de frontend com de backend, amb una especialització en el desenvolupament de pàgines web i aplicacions.
      </p>
      <div class="flex justify-between px-4 mb-4">
        <div class="group relative block">
          <div
            class="flex items-center justify-center transform transition-transform duration-200 group-hover:scale-105"
          >
            <span
              class="relative inline-flex overflow-hidden rounded-full py-[1px] px-[1.5px]"
            >
              <span
                class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
              ></span>
              <a
                href="/path/to/your-cv.pdf"
                download="CurriculumEudald_Cat.pdf"
                class="relative inline-flex items-center justify-center w-full px-3 py-1 text-sm bg-gray-900 border-gray-800 rounded-full cursor-pointer whitespace-nowrap text-white"
              >
                Descarregar currículum
              </a>
            </span>
          </div>
        </div>
        <a href="https://github.com/EudaX400" class="group relative block mx-6"
          ><img
            src="/public/Github.png"
            alt="Project photo"
            class="w-7 h-auto transform transition-transform duration-300 group-hover:scale-110"
          /></a
        >
        <a href="https://github.com/EudaX400" class="group relative block"
          ><img
            src="/public/LinkedIn.png"
            alt="Project photo"
            class="w-7 h-auto transform transition-transform duration-300 group-hover:scale-110"
          /></a
        >
      </div>
    </div>
  </div>
  <div class="hidden sm:flex justify-center align-middle">
    <img
      src="/public/EudaldIrlanda.jpg"
      alt="Eudald photo"
      class="sm:w-6/12 h-auto"
    />
  </div>
</main>
