---
import ProjectCard from "./ProjectCard.astro";
import ArrowDownIcon from "../../public/Icons/ArrowDownIcon.astro";
import ArrowUpIcon from "../../public/Icons/ArrowUpIcon.astro";
---

<section id="projects" class="flex md:ml-48 p-4 flex-col">
  <h2>Projectes</h2>
  <div>
    <ProjectCard
      href="https://diamond-prominence.vercel.app/"
      imageSrc="/public/Diamondprominence.png"
      title="Diamond Prominence"
      description="Aquest projecte tracta la gestió de tornejos utilitzant Next.js i Prisma per a la implementació del backend, amb l'autenticació d'usuaris manejada per Next-Auth. La plataforma permet als usuaris crear tornejos públics o privats, unir-se a ells i visualitzar-los. El creador del torneig pot gestionar els partits, puntuar-los i avançar fases fins a arribar a la final."
      githubLink="https://github.com/EudaX400/DiamondProminence"
      status="En millora"
    />
    <ProjectCard
      href="https://diamond-prominence.vercel.app/"
      imageSrc="/public/LabWare.png"
      title="LabWare"
      description="Aquest projecte, realitzat per als alumnes i professorat del grau de Laboratori del Institut Castellet, gestiona l'inventari dels productes quimics que auqests tenen guardats en armaris. Utilitzant React, Laravel i una base de dates SQLite falicita l'organització i el control de tots els químics guardats tenint un registre, per al professor(usuari admin), dels productes extrets, la quantitat i l'usuari que ho ha fet."
      githubLink="https://github.com/your-repo"
      status="En millora"
    />
    <ProjectCard
      href="https://drive.google.com/file/d/1uKJz69N0tWSRmTu18aNMbVtODEfWXGwE/view?usp=sharing"
      imageSrc="/public/EchoEcho2.png"
      title="EchoEcho"
      description="Joc de móbil amb Android Studio, utilitzant Kotlin i Firebase. Consisteix en seguir el patró de moviments o so fins arribar el màxim de puntuació possible, si falles acaba la partida. Aquest consta de 3 nivells de dificultat, un perfil personalitzable incloent-hi imatges i una rànquing de puntuacions entre tots els jugadors."
      githubLink="https://github.com/EudaX400/EchoEcho"
      status="En millora"
    />

    <div id="more-projects" class="hidden">
      <ProjectCard
        href="https://drive.google.com/file/d/1ISRA4boCQuoRIxbewHIaJG7VpXu-RgUm/view?usp=sharing"
        imageSrc="/public/TuneAudit.png"
        title="Tune Audit VR"
        description="Aplicació de realitat virtual, fet amb Unity, que permet avaluar la pèrdua d'audició en joves, mostrant a través de diversos sons com la seva capacitat auditiva es deteriorarà amb el temps. Per implementar-ho, inicialment es realitzaria un càlcul per determinar la seva capacitat auditiva actual. L'usuari seria guiat a través d'un menú on se li demanaria ajustar, amb les seves pròpies mans, diversos paràmetres com l'edat, el volum al qual sol escoltar música i les hores diàries dedicades a aquesta activitat."
        githubLink="https://github.com/EudaX400/EchoEcho"
        status="Finalitzat"
      />
      <ProjectCard
        href="https://drive.google.com/file/d/1hw9pfeB6pn3RRlrFYfPMotdh5v2R-fET/view?usp=sharing"
        imageSrc="/public/CodeHarbor.png"
        title="Code Harbor"
        description="Aquest projecte, fet majoritariament amb php, permet desar codi al núvol. Consata d'un registre per a aquells que no tenen un compte, i un inici de sessió, si s'ha iniciat sessió, es podrà editar i crear els fitxers desitjats. També és podrar triar el fitxer o copiar i enganxar el codi a l'aplicació. (Aquest no està acabat degut al temps demanat per al projecte)"
        githubLink="https://github.com/EudaX400/CodeHarbor"
        status="En millora"
      />
      <ProjectCard
        href="https://docs.google.com/document/d/1LwErpki12LD6hoetnpXL5IHLJyKahnGEBKVBwVp7EQQ/edit?usp=sharing"
        imageSrc="/public/edBank.png"
        title="ED Bank"
        description="Projecte, fet amb java, que simula un banc on es podrà ingressar i retirar diners del compte bancari de l'usuari. L'usuari haurà d'introduir l'id del compte i la contrasenya i així poder entrar-hi. Com s'ha esmentat anteriorment, una vegada iniciada la sessió l'usuari podrà decidir si retirar diners o ingressar-los. Per això, haurà de seleccionar una de les dues opcions."
        githubLink="https://github.com/EudaX400/EDBank_EudaldDavi"
        status="Finalitzat"
      />
    </div>
    <div class="w-auto h-0.5 bg-green-700 mt-5"></div>
    <div class="flex justify-center items-center">
      <p
        id="toggleButton"
        class="text-green-700 cursor-pointer"
        onclick="toggleProjects()"
      >
        Mostrar més
      </p>
      <div id="DownIcon" class="">
        <ArrowDownIcon />
      </div>
      <div id="UpIcon" class="hidden">
      <ArrowUpIcon />
    </div>
    </div>
  </div>
</section>

<script is:inline>
  function toggleProjects() {
    const moreProjects = document.getElementById("more-projects");
    const toggleButton = document.getElementById("toggleButton");
    const DownIcon = document.getElementById("DownIcon");
    const UpIcon = document.getElementById("UpIcon");

    if (moreProjects.classList.contains("hidden")) {
      moreProjects.classList.remove("hidden"); 
      toggleButton.textContent = "Mostrar menys"; 
      DownIcon.classList.add("hidden");
      UpIcon.classList.remove("hidden");
      
    } else {
      moreProjects.classList.add("hidden"); 
      toggleButton.textContent = "Mostrar més"; 
      DownIcon.classList.remove("hidden");
      UpIcon.classList.add("hidden");
    }
  }
</script>
