---
import ProjectCard from "./ProjectCard.astro";
import ArrowDownIcon from "../../public/Icons/ArrowDownIcon.astro";
import ArrowUpIcon from "../../public/Icons/ArrowUpIcon.astro";

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="projects" class="flex md:ml-48 p-4 flex-col">
  <h2>{t('header.projects')}</h2>
  <div>
    <ProjectCard
      href="https://diamond-prominence.vercel.app/"
      imageSrc="/Diamondprominence.png"
      title="Diamond Prominence"
      description={t('projects.description1')}
      githubLink="https://github.com/EudaX400/DiamondProminence"
      status={t('improvement')}
    />
    <ProjectCard
      href="https://github.com/SilverMoonDev/LabWare"
      imageSrc="/LabWare.png"
      title="LabWare"
      description={t('projects.description2')}
      githubLink="https://github.com/SilverMoonDev/LabWare"
      status={t('improvement')}
    />
    <ProjectCard
      href="https://drive.google.com/file/d/1uKJz69N0tWSRmTu18aNMbVtODEfWXGwE/view?usp=sharing"
      imageSrc="/EchoEcho2.png"
      title="EchoEcho"
      description={t('projects.description3')}
      githubLink="https://github.com/EudaX400/EchoEcho"
      status={t('improvement')}
    />

    <div id="more-projects" class="hidden">
      <ProjectCard
        href="https://drive.google.com/file/d/1ISRA4boCQuoRIxbewHIaJG7VpXu-RgUm/view?usp=sharing"
        imageSrc="/TuneAudit.png"
        title="Tune Audit VR"
        description={t('projects.description4')}
        githubLink="https://github.com/EudaX400/EchoEcho"
        status={t('finished')}
      />
      <ProjectCard
        href="https://drive.google.com/file/d/1hw9pfeB6pn3RRlrFYfPMotdh5v2R-fET/view?usp=sharing"
        imageSrc="/CodeHarbor.png"
        title="Code Harbor"
        description={t('projects.description5')}
        githubLink="https://github.com/EudaX400/CodeHarbor"
        status={t('improvement')}
      />
      <ProjectCard
        href="https://docs.google.com/document/d/1LwErpki12LD6hoetnpXL5IHLJyKahnGEBKVBwVp7EQQ/edit?usp=sharing"
        imageSrc="/edBank.png"
        title="ED Bank"
        description={t('projects.description6')}
        githubLink="https://github.com/EudaX400/EDBank_EudaldDavi"
        status={t('finished')}
      />
    </div>
    <div class="w-auto h-0.5 bg-green-700 mt-5"></div>
    <div class="flex justify-center items-center">
      <p
        id="toggleButton"
        class="text-green-700 cursor-pointer"
        onclick="toggleProjects()"
      >
        {t('show-more')}
      </p>
      <div id="DownIcon" class="">
        <ArrowDownIcon />
      </div>
      <div id="UpIcon" class="hidden">
      <ArrowUpIcon />
    </div>
    </div>
  </div>
</section>

<script is:inline>
  function toggleProjects() {
    const moreProjects = document.getElementById("more-projects");
    const toggleButton = document.getElementById("toggleButton");
    const DownIcon = document.getElementById("DownIcon");
    const UpIcon = document.getElementById("UpIcon");

    if (moreProjects.classList.contains("hidden")) {
      moreProjects.classList.remove("hidden"); 
      toggleButton.textContent = "Mostrar menys"; 
      DownIcon.classList.add("hidden");
      UpIcon.classList.remove("hidden");
      
    } else {
      moreProjects.classList.add("hidden"); 
      toggleButton.textContent = "Mostrar més"; 
      DownIcon.classList.remove("hidden");
      UpIcon.classList.add("hidden");
    }
  }
</script>
